</main>

<footer class="page-footer black">
    <div class="container center">
      
          <h5 class="white-text center">Follow Us On </h5>
          <i class="fab fa-instagram fa-2x center footsoc"></i> <br>
          <i class="fab fa-twitter fa-2x center footsoc"></i><br>
          <i class="fab fa-youtube fa-2x center footsoc"></i>
        </div>
        <!-- <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          
        </div> -->
    </div>
    <div class="footer-copyright center">
      <div class="container ">
      © 2020 Copyright
      </div>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
      
              
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/static/js/index.js"></script>
<!-- <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script> -->


<!-- social-media-handle -->

  <div class="social-media-handle">
      
        <i class="fab fa-instagram fa-lg smm z-depth-1"></i>
        <i class="fab fa-spotify fa-lg smm z-depth-1"></i>
        <i class="fab fa-soundcloud fa-lg smm z-depth-1"></i>
        <!-- <i class="fas fa-music fa-lg"></i> -->
    </div>
</body>
</html>