<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/static/media/Untitled-1.png" type="image/icon" />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link
      type="text/css"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
   
    <link type="text/css" rel="stylesheet" href="/static/styles.css" />
    <title>Sharan Raj</title>
  </head>
  <body class="bodybg">
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper grey darken-4">
            <a href="/" class="brand-logo"
              ><img
                src="/static/media/Untitled-1.png"
                width="150px"
                height="75px"
            /></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"
              ><i class="material-icons">menu</i></a
            >
            <ul class="right hide-on-med-and-down">
              <li><a href="/music">Music</a></li>
              <li><a href="/video">Video</a></li>
              <li><a href="/demosubmission">Demo Submission</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons ">account_box</i></a></li>
            </ul>
            <ul id="dropdown1" class="dropdown-content">
              <li><a href="/signin">Signin</a></li>
              <li><a href="/profile">Profile</a></li>
              <li class="divider grey darken-2"></li>
              <li class="grey darken-2"><a href="/signout" >Signout</a></li>
            </ul>
          </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
          <li><a href="/music">Music</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/demo">Demo Submission</a></li>
          <li><a href="/shop">Shop</a></li>
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="/signin">Signin</a></li>
          <li><a href="/signout">Signout</a></li>


        </ul>
      </div>
    </header>

    <main>
