<%- include("partials/header.ejs") %> 

<div class="container center aboutphotobg white-text">
    <h1>About Us</h1> 

    <div class="aboutphotobg1">
        
        <img class="about-photo" src="/static/media/IMG_9962.jpg">
    </div>
    <div class="textabout center">
        
            <h3 class="texth3">I'm a 20 Year Old Novice Artist from India who Post Videos of Music.</h3> <br>

        
        <h6 class="texth6"> Love Progressive House and Future Bass &  I’m trying Different Ways to Produce Music using these Sub Genres of EDM <br> by<br> combining it with Different Ideas.<br> I sleep late because I have Anxiety about how I’m going to produce my next track, also I Blabber, Never Mind.</h6>
    </div>
    

</div>

<%- include("partials/footer.ejs") %> 